<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <p>Home / Pedidos de los Clientes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <div class="alert alert-primary" style="background-color: #1a3742;" role="alert">
    <h3 style="text-align: center; font: oblique bold 120% cursive; color:#FFFFFF; font-size:30px;">Pedidos de los clientes
    </h3>
  </div>
      <!--================Cart Area =================-->
      <section class="cart_area altura-contenido">
        <div class="container">
            
            <nav class="nav nav-pills nav-justified p-4">
                <a class="nav-item nav-link" [ngClass]="{'active': estado === 'Pendiente'}" (click)="estado = 'Pendiente'; paginaActual = 1">Pendientes</a>
                <a class="nav-item nav-link" [ngClass]="{'active': estado === 'Confirmado'}" (click)="estado = 'Confirmado'; paginaActual = 1">Confirmados</a>
                <a class="nav-item nav-link" [ngClass]="{'active': estado === 'En camino'}" (click)="estado = 'En camino'; paginaActual = 1">En camino</a>
                <a class="nav-item nav-link" [ngClass]="{'active': estado === 'Entregado'}" (click)="estado = 'Entregado'; paginaActual = 1">Entregado</a>
                          
            </nav>
         
          <div class="cart_inner">
            <div class="table-responsive">
             
              <table class="table table-hover">
                <thead class="table-primary">
                  <tr>
                    
                    <th scope="col" class="text-center">Cliente/Empresa</th>
                    <th scope="col" class="text-center">Vendedor</th>
                    <th scope="col" class="text-center">Método de pago</th>
                    <th scope="col" class="text-center">Precio total</th>
                    <th scope="col" class="text-center">Fecha del pedido</th>
                    <th scope="col" class="text-center">Dirección</th>
                    <th scope="col" class="text-center">Distrito</th>
                    <th scope="col" class="text-center">Comentario</th>
                    <th scope="col" class="text-center">Detalles del pedido</th>                                
                    
                  </tr>
      
      
      
                </thead>
                <tbody >
                
                  <ng-container *ngFor="let orden of ordenes ">
                    <!-- | paginate: { itemsPerPage: 8, currentPage: paginaActual } -->
                    <tr *ngIf="orden.estado == estado">                    
                        
                        <td style="font-weight:bold"  *ngIf="orden.nombresComprador != '' && orden.nombresVendedor != ''" scope="row" class="text-center">{{orden.nombresComprador}} {{orden.apellidosComprador}}</td>
                        <td style="font-weight:bold" *ngIf="orden.nombreEmpresa != ''" scope="row" class="text-center">{{orden.nombreEmpresa}}</td>
                        <td style="font-weight:bold" scope="row" class="text-center">{{orden.nombresVendedor}} {{orden.apellidosVendedor}}</td>
                        <td class="text-center">{{orden.metodoPago}}</td>
                        <td class="text-center">S/. {{orden.PrecioTotal}}</td>
                        <td class="text-center">{{orden.fechaOrden | date:'dd-MM-yyyy HH:mm:ss'}} </td>
                        <td class="text-center">{{orden.direccion}}</td>
                        <td class="text-center">{{orden.distrito}}</td>
                        <td class="text-center">{{orden.comentario}}</td>
                        <td class="text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getOneBuy(orden.idOrden)"><i class="fas fa-info-circle"></i></button></td>
                        
                        
                    </tr> 
                  </ng-container>
                 
                
                </tbody>
      
              </table>
              <!-- <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>           -->
              
         
      
          
            </div>
          </div>
        </div>

   
      
        <!--MODAL DE PRODUCTOS-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detalles de la orden </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead class="thead-dark">
                  <!--Tabla de los productos mas condicional Pendiente-->
                  <tr>
                    <th scope="col" class="text-center">Producto</th>
                    <th scope="col" class="text-center">Cantidad</th>
                    
                  </tr>
                  
                </thead>
                <tbody>
                  <ng-container>
                          <tr *ngFor="let detalle of detalles">                    
                              <th scope="row" class="text-center">{{detalle.nombreProducto}}</th>
                              <th scope="row" class="text-center">{{detalle.cantProducto}} {{detalle.unidades}}</th>
                              <!-- <th scope="row" class="text-center">{{detalle.subTotal}}</th> -->
                          </tr>  
                  </ng-container>              
                  
              </tbody>
              <!-- <button type="button" class="btn btn-primary">cerrar</button> -->
              </table>
            </div>
   
  
          </div>
        </div>
      </div>
  
         <!--FIN DE MODAL DE PRODUCTOS-->
  
  
        
    
      </section>
      
      <!--================End Cart Area =================-->