<div class="alert alert-primary" style="background-color: #1a3742;" role="alert">
    <h3 style="text-align: center; font: oblique bold 120% cursive; color:#FFFFFF; font-size:30px;">Registrar Usuarios
    </h3>
  </div>

<section class="checkout_area ">
    <div class="container">


        <div class="row billing_details">
            <div class="col-lg-10 heigh m-auto">
                

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="col-6 py-3 nav-item nav-link active text-center" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Persona Natural</a>
                          <a class="col-6 py-3 nav-item nav-link text-center" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Empresa</a>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                <!-- REGISTER PERSON -->
                        <div class="order_box">
                            <h3>Regístrate como persona natural</h3>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">

                            <div class="col-md-6 form-group p_star">

                                <input type="text" class="form-control" [(ngModel)]="userM.Nombres" id="nombres"
                                    name="Nombres" value="" placeholder="Nombres"  (keypress) ="soloLetras($event)">
                            </div>

                            <div class="col-md-6 form-group p_star">

                                <input type="text" class="form-control" [(ngModel)]="userM.Apellidos" id="aellidos"
                                    name="Apellidos" value="" placeholder="Apellidos"  (keypress) ="soloLetras($event)">
                            </div>
                           
                            <div class="col-md-6 form-group p_star">


                                <input type="text" class="form-control" [(ngModel)]="userM.telefono" id="movil"
                                    name="Celular" value="" placeholder="Celular" (keypress) ="ValidaSoloNumeros($event)"
                                     onpaste="return false" MaxLength="9" >
                            </div>


                            <div class="col-md-6 form-group p_star">


                                <input type="text" class="form-control" [(ngModel)]="userM.DNI" id="dni" name="dni"
                                    value="" placeholder="D.N.I" MaxLength="8" (keypress) ="ValidaSoloNumeros($event)" onpaste="return false">
                            </div>

                            <div class="col-md-12 form-group p_star">


                                <input type="text" class="form-control" [(ngModel)]="userM.email" id="email"
                                    name="email" value="" placeholder="Correo electronico">

                            </div>

                            <div class="col-md-12 form-group p_star">


                                <input type="password" class="form-control" [(ngModel)]="userM.pass" id="pass"
                                    name="pass" value="" placeholder="Contraseña">
                            </div>
                            <div class="col-md-12 form-group p_star">

                                <input type="password" class="form-control" id="r_pass" name="r_pass"  [(ngModel)]="Rpass"  value=""
                                    placeholder="Repetir Contraseña">
                            </div>
                            <!-- <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" id="f-option2" name="selector" />
                                    <label for="f-option2" style="font-size: 10px;">Al hacer clic en Registrarte,
                                        aceptas
                                        los Términos y Condiciones
                                        de Uso de Marvetos.Para obtener más información acerca de cómo Spotify
                                        recopila,
                                        utiliza, comparte y
                                        protege tus datos personales, consulta la Política de Privacidad de
                                        Marvetos.</label>
                                </div>
                            </div> -->

                            <div class="col-md-12">
                                <div class="d-md-flex justify-content-center">
                                    <button type="submit" style="align-items: center;" value="submit" class="btn_3"
                                        (click)="saveNewUserPersona()">
                                        REGISTRATE
                                    </button>


                                </div>

                            </div>
                            <!-- <div class="col-md-12">

                                <div class="d-md-flex justify-content-center creat_account">
                                    <input type="checkbox" id="f-option2" name="selector" />
                                    <label for="f-option2">Recuerdame</label>
                                </div>
                            </div> -->
                            </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                            <!-- REGISTER COMPANY -->
                    <div class="order_box" >
                        <h3>Regístrate como empresa</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate" >


                            <div class="col-md-12 form-group p_star">
    
    
                                <input type="text" class="form-control" id="nameCompany"
                                    [(ngModel)]="userE.NombreEmpresa" name="nameCompany"
                                    placeholder="Nombre Empresa" />
    
                            </div>
    
    
                            <div class="col-md-6 form-group p_star">
    
                                <input type="text" class="form-control" [(ngModel)]="userE.RUC" id="ruc"
                                    name="RUC" placeholder="RUC" (keypress) ="ValidaSoloNumeros($event)"
                                    onpaste="return false" MaxLength="13"/>
    
                            </div>
                            <div class="col-md-6 form-group p_star">
    
                                <input type="text" class="form-control" [(ngModel)]="userE.telefono"
                                    id="telefono" name="telefono" placeholder="Celular" (keypress) ="ValidaSoloNumeros($event)"
                                    onpaste="return false" MaxLength="9"/>
    
    
                            </div>
    
    
                            <div class="col-md-12 form-group p_star">
    
                                <input type="email" class="form-control" [(ngModel)]="userE.email"
                                    id="email" name="email" placeholder="Correo electronico" />
    
                            </div>
    
                            <div class="col-md-12 form-group p_star">
    
                                <input type="password" class="form-control" [(ngModel)]="userE.pass"
                                    id="pass" name="pass" placeholder="Contraseña" />
    
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="r_pass" name="r_pass" [(ngModel)]="RpassE"
                                    placeholder="Repetir Contraseña" />
    
    
                            </div>
    
                            <!-- <div class="col-md-12 form-group ">
                                <div class="creat_account">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="checkbox" id="f-option3" name="selector" />
                                            <label for="f-option3" style="font-size: 10px;">Al hacer
                                                clic en
                                                Registrarte, aceptas
                                                los Términos y Condiciones
                                                de Uso de Marvetos.Para obtener más información acerca
                                                de
                                                cómo
                                                Spotify recopila,
                                                utiliza, comparte y
                                                protege tus datos personales, consulta la Política de
                                                Privacidad
                                                de
                                                Marvetos.</label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
    
                            <div class="col-md-12 ">
                                <div class="d-md-flex justify-content-center">
                                    <button type="submit" style="align-items: center;" value="submit"
                                        class="btn_3" (click)="saveNewUserEmpresa()">
                                        REGISTRATE
                                    </button>
                                </div>
    
                            </div>
                            <br>
                            <!-- <div class="col-md-12">
    
                                <div class="d-md-flex justify-content-center creat_account">
                                    <input type="checkbox" id="f-option4" name="selector" />
                                    <label for="f-option4">Recuerdame</label>
                                </div>
                            </div> -->
    
                        </form>
                    </div>

                        </div>
                      </div>
                    



                    
                    



 <!-- Finish -->

            </div>
        </div>
    </div>
</section>
<br>
<script>
    function ValidaSoloNumeros() {
   if ((event.keyCode < 48) || (event.keyCode > 57)) 
    event.returnValue = false;
  }
  
  function soloLetras(e) {
              key = e.keyCode || e.which;
              tecla = String.fromCharCode(key).toLowerCase();
              letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
              especiales = "8-37-39-46";
  
              tecla_especial = false
              for (var i in especiales) {
                  if (key == especiales[i]) {
                      tecla_especial = true;
                      break;
                  }
              }
  
              if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                  return false;
              }
          }
  </script>

