<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <p>Home / About</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================ con firmation part start =================-->
<section class="confirmation_part p-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="confirmation_tittle tamaño">
          <span>Gracias. Tu pedido ha sido completado correctamente.</span>
        </div>
        <div class="confirmation_tittle ">
          <button type="button" class="btn btn-primary ml-5" [routerLink]="['/productos']">Ver productos</button>
          <button type="button" class="btn btn-primary ml-5" [routerLink]="['/orden/usuario']">Ver estado del
            pedido</button>
        </div>
      </div>
      <div class="col-lg-6 col-lx-4">
        <div *ngFor="let orden of ordenes; first as isFirst">
          <div class="single_confirmation_details" *ngIf="isFirst">
            <h4>order info</h4>
            <ul>
              <li>
                <p>Número de Orden</p><span>: M00{{orden.idOrden}}</span>
              </li>
              <li>
                <p>Fecha</p><span>: {{orden.fechaOrden | date:'dd-MM-yyyy HH:mm:ss'}}</span>
              </li>
              <li>
                <p>Total</p><span>: S/. {{orden.PrecioTotal}}</span>
              </li>
              <li>
                <p>Método de pago</p><span>: {{orden.metodoPago}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-lx-4">
        <div class="single_confirmation_details">
          <h4>Información del vendedor</h4>
          <ng-container *ngFor="let orden of ordenes; first as isFirst">
            <ng-container *ngIf="isFirst">
              <ul>
                <li>
                  <p>Nombres</p><span>: {{orden.nombresVendedor}}</span>
                </li>
                <li>
                  <p>Apellidos</p><span>: {{orden.apellidosVendedor}}</span>
                </li>
                <li>
                  <p>Celular</p><span>: {{orden.celularVendedor}}</span>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="col-lg-6 col-lx-4">
        <div class="single_confirmation_details">
          <h4>Información de la entrega</h4>
          <ng-container *ngFor="let orden of ordenes; first as isFirst">
            <ng-container *ngIf="isFirst">
              <ul>
                <li>
                  <p>Dirección</p><span>: {{orden.direccion}}</span>
                </li>
                <li>
                  <p>Distrito</p><span>: {{orden.distrito}}</span>
                </li>
                <li>
                  <p>Comentario</p><span>: {{orden.comentario}}</span>
                </li>

              </ul>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="order_details_iner">
          <h3>Detalles de la Orden</h3>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" colspan="2">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let orden of ordenes">
                <th colspan="2"><span>{{orden.nombreProducto}}</span></th>
                <th>{{orden.cantProducto}}</th>
                <th> <span>S/. {{orden.subTotal}}</span></th>
              </tr>

              <tr *ngFor="let orden of ordenes; first as isFirst">
                <ng-container *ngIf="isFirst">
                  <th colspan="3">Delivery</th>
                  <ng-container *ngIf="orden.descuento == 0">
                    <th><span>S/. {{orden.precioDelivery}}</span></th>
                  </ng-container>
                  <ng-container *ngIf="orden.descuento == 1">
                    <th><span>S/. {{orden.precioDelivery * 0.75}}</span></th>
                  </ng-container>
                </ng-container>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <ng-container *ngFor="let orden of ordenes; first as isFirst">
                  <ng-container *ngIf="isFirst">
                    <th scope="col" colspan="3">Total</th>
                    <th scope="col">S/. {{orden.PrecioTotal}}</th>
                  </ng-container>
                </ng-container>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ confirmation part end =================-->