





 
 <div class="cat_product_area">
    <img src="../../../assets/img/portadaMarveto/nuestros servicios banner1.png" class="img-fluid" alt="Responsive image" style="width: 100%">
 </div>

<section class="cat_product_area padding-space">
   <div class="marvetos container">
    
      
       
     
  

  
       <div class="row">
        <div class="col-6" style="text-align: right; padding: 10px; ">
            <img src="../../../assets/img/portadaMarveto/abastecimiento.png" class="img-fluid-q" alt="Responsive image" >
        </div>
    <div class="col-6">
     
     <h3>Abastecimiento</h3>
     <h2>Brindamos el servicio de compra y traslado
         de viveres perecibles y no perecibles, de
         acuerdo a sus preferencias y requerimientos.
         Para satisfacer sus necesidades, contamos
         con diferentes categorías, algunas de estas
         son: frutas y verduras, abarrotes, cárnicos
         entre otros.
     </h2>

     <h2>Nuestros productos atraviesan un proceso de
         revisión y selección, permitiendonos cumplir
         los estándares de calidad e ir mas allá de las
         expectativas de nuestros clientes. Asimismo,
         ofrecemos un servicio personalizado, el cual
         permite el seguimiento oportuno del servicio
         de inicio a fin.
     </h2>
     
      
    </div>
    
  
      
    
</div>
    
<div class="row">
    
<div class="col-6">
    <h3>Alimentación</h3>
    <h2>Nos avocamos además en los servicios de
        alimentación para empresas apoyándolos en
        proyectos desde corto a largo plazo. Nos 
        adaptamos a los requerimientos en la
        preparación de desayunos, almuerzos, menús 
        y cenas; con los ingredientes selectos, de
        buena calidad y cuidando la salud de tus
        trabajadores
    </h2>
    <h2>Ofrecemos los servicios de:</h2>
    <h5>- Concesionario para empresas</h5>
    <h5>- Alimentación por periodo o proyecto</h5>
    <h5>- Restaurante</h5>
    
</div>
<div class="col-6" style="text-align: left; padding: 10px; ">
    <img src="../../../assets/img/portadaMarveto/restaurante.png" class="img-fluid-q" alt="Responsive image" >
    </div>
</div>



<div class="row">
    <div class="col-6" style="text-align: right; padding: 10px; ">
        <img src="../../../assets/img/portadaMarveto/catering.png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-6">
    <h3>Catering Coporativo</h3>
    <h2>Servicio con diferenciación interna, avocando
        a negocios e industrias en el mercado. Cada
        servicio es logrado con la más alta calidad,
        acompañado del carisma inigualable del
        personal. Nuetras modalidades:
    </h2>
    <p>Coffe Brek</p>
    <h5>Preparado especialmente para tener un
        evento agradable y rico para tus
        colaboradores.
    </h5>
    <p>Coffe Break Saludable</p>
    <h5>Brindamos esta opción saludable y 
        nutritiva que nos permite cuidar con
        eficiencia la salud de tus colaboradores.
    </h5>
    <p>Box Coffe Break</p>
    <h5>Si deseas un día especial, esta es la
        mejor opción, permítenos personalizar
        el evento para brindarte una experiencia
        agradable.
    </h5>
</div>
</div>
    </div>

</section>

