
 
 <div class="cat_product_area">
    <img src="../../../assets/img/portadaMarveto/conocenos.png" class="img-fluid" alt="Responsive image" style="width: 100%">
 </div>

<section class="cat_product_area padding-space ">
   <div class="marvetos container">
       <h2>Somos una empresa dedicada al rubro de servicios de alimentación, nos
           caracterizamos por ser innovadores con experiencia en el área. Como
           resultado del conocimiento de nuectro equipo en el sector, surge MARVETOS
           S.A.C. 
       </h2>
       
       <h2>
        Con una misión muy clara de brindar un servicio basado en la calidad, empatía
        y el sentido de urgencia. Asimismo, nuestro staff está compuesta por
        especialistas en el rubro y trabajamos con los mejores productos e insumos en
        mercado, ellos nos garantiza brindar un servicio integral a nuestros clientes a
        ir más allá de sus expectativas.
       </h2>
       
        <div class="row">
          <div class="col">
           <p>Visión</p>
           <h2>Ser la empresa líder en el mercado
               que se encuentra en continuo
               crecimiento en los servicios de
               alimentación, distinguiéndose por
               proporcionar una calidad de servicio
               excelente con soluciones que
               cumplan todas las expectativas y
               necesidades de nuestros clientes. 
           </h2>
          </div>
          <div class="col">
            <p>Misión</p>
            <h2>
                Brindar la mejor experiencia
                culinaria a nuestros clientes
                ofreciendo calidad a precios justos y
                ser la mejor opción de desarrollo a
                nuestros colaboradores.
            </h2>
          </div>
        </div>
    
     
      <div class="valores">
        <p>Nuestros principales valores</p>
        <div class="container">
        
            <div class="row">
              <div class="col">
                <img src="../../../assets/img/portadaMarveto/Valor1.png" class="img-fluid-q" alt="Responsive image">
                <h2>Empatía</h2>
              </div>
              <div class="col">
                <img src="../../../assets/img/portadaMarveto/Valor2.png" class="img-fluid-q" alt="Responsive image">
                <h2>Flexibilidad</h2>
              </div>
              <div class="col">
                <img src="../../../assets/img/portadaMarveto/Valor3.png" class="img-fluid-q" alt="Responsive image" >
                <h2>Compromiso</h2>
              </div>
            </div>
          </div>

          <p>¿Por qué elegirnos?</p>
         
       </div>
   </div>
   <div class="container marvetos">
       <div class="row">
        <div class="col-3" style="text-align: center; padding: 10px; ">
            <img src="../../../assets/img/portadaMarveto/orden (1).png" class="img-fluid-q" alt="Responsive image" >
        </div>
    <div class="col-8">
     
      <h3>Calidad</h3>
      <h2>Nuestos productos atraviesan un proceso estricto de selección el
          cual nos permite asegurar la calidad óptima a nuestros clientes.
      </h2>
     
    </div>
    
  
      
    
</div>
    
<div class="row">
    <div class="col-3" style="text-align: center; padding: 10px; ">
    <img src="../../../assets/img/portadaMarveto/producto (1) (1).png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-8">
 
    <h3>Responsabilidad</h3>
    <h2>Cuando se realiza un servicio, Marveto's brinda la mejor asistencia
        con la diligencia y responsabilidad necesario para completarlo, 
        desde su inicio hasta su culminación.
    </h2>
 
</div>


  

</div>

<div class="row">
    <div class="col-3" style="text-align: center; padding: 10px; ">
        <img src="../../../assets/img/portadaMarveto/valor (1).png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-8">
 
    <h3>Atencíon Personalizada</h3>
    <h2>Marveto's cuenta con un equipo preparado para resolver todas las
        dudas, brindando atención personalizada y seguimiento cosntante
        desde el primer vínculo creado con cada cliente.</h2>
 
</div>


  

</div>


<div class="row">
    <div class="col-3" style="text-align: center; padding: 10px; " >
        <img src="../../../assets/img/portadaMarveto/flexible (1).png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-8">
 
    <h3>Flexibilidad</h3>
    <h2>
        Nos adaptamos a los requerimientos y necesidades de nuestros
        clientes, para poder brindarles un servicio óptimo que sobrepase
        sus expectativas.
    </h2>
 
</div>


  

</div>

    

  
    </div>
  
    
   
</section>