
 
 <div class="cat_product_area">
    <img src="../../../assets/img/portadaMarveto/cuidamos.png" class="img-fluid" alt="Responsive image" style="width: 100%">
 </div>

<section class="cat_product_area padding-space">
   <div class="marvetos container">
    <div class="row">
        <div class="col-9"> 
         <!--    <h4>Conoce nuestro</h4> -->
            <h3>
            <h4>Conoce nuestro</h4>
            PROTOCOLO DE SEGURIDAD DE PREVENCIÓN
            Y CONTROL DE EXPOSICIÓN AL COVID-19
        </h3>
    </div>
        
      </div>
      
       
       <h2>
        MARVETOS, pensando en el bienestar de sus colaboradores y clientes, pone a disposición del
        público en general los procedimientos de su protocolo de sanidad a realizar en todos sus procesos,
        aplicando las medidas de prevención sanitarias publicadas por el MINSA, reafirmando su compromiso
        en brindar un servicio seguro y eficaz, con la misma calidad que nos caracteriza.
       </h2>

       <p>CONSIDERACIONES</p>
  

  
       <div class="row">
        <div class="col-3" style="text-align: right; padding: 10px; ">
            <img src="../../../assets/img/portadaMarveto/client.png" class="img-fluid-q" alt="Responsive image" >
        </div>
    <div class="col-8">
     
     
      <h2>✔ Trabajadores y clientes deben contar con los equipos de 
          bioseguridad correspondientes.

      </h2>
      <h2>✔ La empresa no brindará atención a los clientes que no
          cumplan con las medidas preventivas establecidas.

    </h2>
    <h2>✔ El cliente debe ubicarse en los espacios delimitados por la 
        empresa durante la entrega del pedido.

    </h2>
     
      
    </div>
    
  
      
    
</div>
    
<div class="row">
    <div class="col-3" style="text-align: right; padding: 10px; ">
    <img src="../../../assets/img/portadaMarveto/product.png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-8">
 
    <h3>Preparación del pedido</h3>
    <h2>
        1. Lavado y desinfección de manos
    </h2>
    <h2>
        2. Selección y desinfección de productos
    </h2>
    <h2>
        3. Desinfección de manos
    </h2>
   
</div>

</div>

<div class="row">
    <div class="col-3" style="text-align: right; padding: 10px; ">
        <img src="../../../assets/img/portadaMarveto/mover-truck2.png" class="img-fluid-q" alt="Responsive image" >
    </div>
<div class="col-8">
 
    <h3>Despacho y entrega</h3>
    <h2>
        1. Limpieza y desinfección de manos
    </h2>
    <h2>
        2. Verificar que el cliente cuente con EPP necesario (mascarilla)
    </h2>
    <h2>
        3. Colocar articulo intermediario para pago (efectivo o tarjeta)
    </h2>
    <h2>
        4. Desinfección y despacho del pedido
    </h2>
 
</div>
</div>
    </div>

</section>

